*
!assets/password.jpg
!assets/bp.png
!assets/dp.png
!assets/xp.png
!tests/*
!.gitignore
!ac.sql
!bashpass
!dialog.src
!functions.src
!import.csv
!setup
!license
!readme.org
!terminal.src
!tests.bats
