*
!assets/bp.png
!assets/dp.png
!assets/xp.png
!.gitignore
!Xdialog.sh
!ac.sql
!bashpass.sh
!bp-launch.sh
!dialog.sh
!functions.sh
!import.csv
!install.sh
!license
!readme.org
!terminal.sh
!tests.bats
!variables.sh
