*
!assets/*
!databases/.keep
!databases/sqliterc_data
!databases/sqliterc_import
!databases/sqliterc_report
!examples/*
!sources/*
!tests/*
!.gitignore
!bashpass
!bashpass.bats
!license
!readme.org
!setup
